<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Are The World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-styles.css') }}">
</head>
<body>
    <div class="container">
        <form action="/" method="post" onsubmit="return validateForm()">
            <input type="hidden" id="validationToken" name="validationToken">
            <input type="text" name="thought" placeholder="Enter your thought here..." autocomplete="off" required>
            <button type="submit">Submit</button>
        </form>
        <a href="{{ url_for('privacy') }}" class="privacy-link">Privacy Policy</a>
    </div>
    <div id="warning-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p>You have previously been warned. This is your last warning before you will be banned from using the app.</p>
        </div>
    </div>
    <script>
        // Function to set a validation token
        function setValidationToken() {
            document.getElementById('validationToken').value = 'valid';
        }

        // Function to check before submitting the form
        function validateForm() {
            var token = document.getElementById('validationToken').value;
            if (token === 'valid') {
                return true;
            } else {
                alert('Please enable JavaScript to submit this form.');
                return false;
            }
        }

        // Function to close the popup
        function closePopup() {
            document.getElementById('warning-popup').style.display = 'none';
        }

        // Check if the session flag is set to display the warning popup
        {% if session.get('warning') %}
            document.getElementById('warning-popup').style.display = 'block';
        {% endif %}

        window.onload = setValidationToken;
    </script>
</body>
</html>
